<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802919676492-tpiru7h92kb0g062eu01sapel6umato4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802919676492-tpiru7h92kb0g062eu01sapel6umato4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802919676492-p6mfgvmdslb6bna0pgd2abk6n08kk2p7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRVnWjnXuAIR3cWoD9T8Yi565xifNTgxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>802919676492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>keep-notes-64a68</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-notes-64a68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802919676492:ios:eb073fdf82a25034c452e9</string>
</dict>
</plist>